aiodns==2.0.0
aiogram==2.7
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
cchardet==2.1.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
decorator==4.4.2
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
multidict==4.7.5
packaging==20.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pip-review==1.1.0
pkg-resources==0.0.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycares==3.1.1
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
traitlets==4.3.3
ujson==2.0.3
uvloop==0.14.0
wcwidth==0.1.9
yarl==1.4.2
